header {
    background-color: rgb(87, 136, 135);
    width: 75%;
    height: 9%;
    text-align: center;
    position: fixed;
    top: 0px;
    right: 200px;
    left: 200px;
}

h1 {
    position: relative;
    color: rgb(253, 203, 70);
    font-size: 3em;
    text-transform: uppercase; 
    top: -20px;  
}

body {
    width: 100%;
    margin-bottom: 100px;
}

.menus {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu {
    box-shadow: 3px 3px 3px gray;
}

aside {
    display : flex;
    flex-direction: row;
    justify-content: center;
}

.next {
    width: 25   0px;
    border-radius: 1em;
    background-color: rgb(87, 136, 135) ;
    border: 5px solid rgb(87, 136, 135);
    text-align: center;
    color : rgb(253, 203, 70);
    font-size: 2em;

}

footer {
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(87, 136, 135);
    color: rgb(253, 203, 70);
    font-size: 2em;
    width: 75%;
    height: 8   %;
    text-align: center;
    position: fixed;
    bottom: 0px;
    right: 200px;
    left: 200px;   
}

@media screen and (min-width: 1025px) {

    .menus {
        height: 95%;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .line {
        display: flex;
        flex-direction: row;
    }

    .image {
        width: 228px;
        height: 336px;;
    }

    .menu {
        width: 50%;
        height: 50%;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 40px;
    }
}

