a /* Liens par défaut (non survolés) */
{
   text-decoration: none;
   color: rgb(253, 203, 70);
}

a:hover /* Apparence au survol des liens */
{
   text-decoration: none;
   color: rgb(253, 203, 70);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #569c87;
    text-align: center;
    height: 60px;
    position: fixed;
    padding-top: 20px;
    top: 0px;
    width: 100%;
    left: 0px;
}

h1 {
    position: relative;
    color: rgb(253, 203, 70);
    font-size: 3em;
    font-family: 'Poppins';  
    font-weight: bold;
    padding-bottom: 20px;
   
}

.menus {  
    width: 70%;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin : auto;  
    padding-top: 100px;
}


.center {
    margin :auto;
}

.image {
    width: 100%; 
    box-shadow: 3px 3px 3px gray;

}

.menu {
    width: 40%;
    margin-left: 10px;
    margin-right: 10px;
}

aside {
    display : flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

.next {
    width: 300px;
    border-radius: 0.5em;
    background-color: #569c87 ;
    border: 5px solid #569c87;
    text-align: center;
    color : rgb(253, 203, 70);
    font-size: 2em;
    font-family: 'Poppins';
    margin-top: 20px;
    margin-bottom: 70px;

}

.btn {
    top : 10px;
}

.footer {
    font-size: 1.2em;
}

footer {
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #569c87;
    color: rgb(253, 203, 70);
    font-family: 'Poppins';
    height: 50px;
    position: fixed;
    bottom: 0px;
    left : 0px;
    width: 100%;  
}

@media screen and (max-width: 1079px) {

    .menus {
       width: 80%;
    }

    .menu {
        width: 80%;
        margin-bottom: 10px;
    }

}

@media screen and (min-width: 1080px) {



    header {
        background-color: #569c87;
        height: 70px;
        text-align: center;
        position: fixed;
        top: 0px;
        right: 100px;
        left: 100px;
        width: unset;
    }

    .menus {
        justify-content: center;
    }

    .image {
        width: 325px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    

    aside {
        margin-bottom: unset;
    }


    footer {
        width: unset;
        display : flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #569c87;
        color: rgb(253, 203, 70);
        font-size: 1em;
        height: 5%;
        position: fixed;
        bottom: 0px;
        right: 100px;
        left: 100px;   
    }
}




