/* haut de page */

a /* Liens par défaut (non survolés) */
{
   text-decoration: none;
   color: rgb(253, 203, 70);
}

a:hover /* Apparence au survol des liens */
{
   text-decoration: none;
   color: rgb(253, 203, 70);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #569c87;
    font-family: 'Poppins';
    text-align: center;
    height: 75px;
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
}

h1 {
    position: relative;
    color: rgb(253, 203, 70);
    font-size: 3em;
    font-family: 'Poppins';  
    font-weight: bold;
    padding-bottom: 20px;
   
}

.footer {
    font-size: 1.2em;
}

footer {
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #569c87;
    color: rgb(253, 203, 70);
    font-family: 'Poppins';
    height: 50px;
    position: fixed;
    bottom: 0px;
    left : 0px;
    width: 100%;  
}

/* Logo */

.fas.fa-music {
    font-size: 3em;
    color: red;
}

/* Menu */

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
}

.font_none {
    font-family: unset;
}

.background {
    background-color:  #FCDFDB;
    margin-bottom: 50px;
}

.LogoOnTitle {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LogoAndTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
}

h2 {
    font-size:0.75em;
    font-family: 'Handlee';
}

h3 {
    font-size: 0.75em;
    text-align: center;
    font-family: 'Handlee';
}

h4 {
    font-size : 0.75em;
    font-family: 'Handlee';
    margin-left: 10px;
}

p{
    font-size: 0.75em;
    font-family: 'Handlee';
}

.footer {
    font-family: unset;
}

.DishCost {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


@media screen and (max-width: 1069px){
    body {
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        right: 30px;
        left: 30px;
    }

    .background {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 8px;
    }

    .title {
        margin-top: 70px;
    }

    .LogoAndTitle {
        margin-bottom: 10px;
    }
        
}

@media screen and (min-width: 1070px) {

    header {
        background-color: #569c87;
        text-align: center;
        position: fixed;
        top: 0px;
        right: 300px;
        left: 300px;
        width: unset;
    }

    .title {
        margin-top: 65px;
    }

    body {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        right: 300px;
        left: 300px;
    }

    .background {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
    }

    .LogoAndTitle {
        margin-bottom: 10px;
    }

    footer {
        width: unset;
        display : flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #569c87;
        color: rgb(253, 203, 70);
        position: fixed;
        bottom: 0px;
        right: 300px;
        left: 300px;   
    }
}
