/* haut de page */

a /* Liens par défaut (non survolés) */
{
   text-decoration: none;
   color: rgb(253, 203, 70);
}

a:hover /* Apparence au survol des liens */
{
   text-decoration: none;
   color: rgb(253, 203, 70);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #569c87;
    text-align: center;
    height: 60px;
    position: fixed;
    padding-top: 20px;
    top: 0px;
    width: 100%;
    left: 0px;
}

h1 {
    position: relative;
    color: rgb(253, 203, 70);
    font-size: 3em;
    font-family: 'Poppins';  
    font-weight: bold;
    padding-bottom: 20px;
   
}

.footer {
    font-size: 1.2em;
    display: block;
    cursor: pointer;
}

.footer:hover {
    animation: thing 3s infinite;
}

@keyframes thing{
    0%{transform: rotate(0deg)}
    3%{transform: rotate(-2deg)}
    4%{transform: rotate(2deg)}
    5%{transform: rotate(0deg)}
    100%{transform: rotate(0deg)}
}

footer {
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #569c87;
    color: rgb(253, 203, 70);
    font-family: 'Poppins';
    height: 50px;
    position: fixed;
    bottom: 0px;
    left : 0px;
    width: 100%;  
}

/* Logo */

.fas.fa-music {
    font-size: 3em;
    color: red;
}

/* Menu */

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
}

.font_none {
    font-family: unset;
}

.background {
    background-color:#fff5fe;
    margin-bottom: 100px ;
}

.LogoOnTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.LogoAndTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
}

h2 {
    font-size:2em;
    font-family: 'Kurale';
    background: -webkit-gradient( linear, left top, right bottom, from(#e08823), to(#8F49FF) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    font-size: 0.75em;
    text-align: center;
    font-family: 'PT Serif';
    margin-left: 20px;
    margin-right: 20px;
}

.contener {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.anim_one:hover {
    background-size: 100% 100%;
}

.anim_one{
    text-align: center;
    color: #e08823;
    background: linear-gradient(to top, #e08823 0%, transparent 10%) no-repeat;
    background-size: 0 100%;
    transition : background-size 0.3s;
}

.anim_two:hover {
    background-size: 100% 100%;
}

.anim_two{
    text-align: center;
    color: #cea3ca;
    background: linear-gradient(to top, #cea3ca 0%, transparent 10%) no-repeat;
    background-size: 0 100%;
    transition : background-size 0.3s;
}

.anim_three:hover {
    background-size: 100% 100%;
}

.anim_three{
    text-align: center;
    color: #8F49FF;
    background: linear-gradient(to top, #8F49FF 0%, transparent 10%) no-repeat;
    background-size: 0 100%;
    transition : background-size 0.3s;
}

h4 {
    font-size : 0.75em;
    font-family: 'PT Serif';
    margin-left: 10px;
}

p{
    font-size: 0.75em;
    font-family: 'PT Serif';
}

.footer {
    font-family: unset;
}

.DishCost {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
}

.color1 {
    color:#e08823;
}

.color2 {
    color:#cea3ca;
}

.color3 {
    color:#8F49FF;
}

.traits {
    width: 100px;
}

@media screen and (max-width: 1147px){
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .background {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 8px;
    }

    .title {
        margin-top: 70px;
    }

    .LogoAndTitle {
        margin-bottom: 10px;
    }
        
}

@media screen and (min-width: 1148px) {

    .title {
        margin-top: 65px;
    }

    body {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        right: 300px;
        left: 300px;
    }

    .background {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
    }

    .LogoAndTitle {
        margin-bottom: 10px;
    }

    h2 {
        font-size:3em;
    }
    
    h3 {
        font-size: 1em;
        text-align: center;
    }
    
    h4 {
        font-size : 1em;
        margin-left: 10px;
    }
    
    p{
        font-size: 1em;
    }

    header {
        background-color: #569c87;
        height: 70px;
        text-align: center;
        position: fixed;
        top: 0px;
        right: 100px;
        left: 100px;
        width: unset;
    }

    footer {
        width: unset;
        display : flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #569c87;
        color: rgb(253, 203, 70);
        font-size: 1em;
        height: 50px;
        position: fixed;
        bottom: 0px;
        right: 100px;
        left: 100px;   
    }
}
